---
- name: Ensure NTP package is installed
  package:
    name: chrony
    state: present

- name: Configure NTP servers
  template:
    src: chrony.conf.j2
    dest: "{{ ntp_config_file }}"
    owner: root
    group: root
    mode: '0644'
  notify: Restart NTP

- name: Ensure NTP service is enabled and running
  service:
    name: "{{ ntp_service_name }}"
    state: started
    enabled: true

- name: Skip NTP configuration on containers
  meta: end_play
  when: ansible_virtualization_type == "docker"